/**
 *	This is the iOS 10 version of my website.
 *
 *	Semitransparent content: 
 *		- http://stackoverflow.com/questions/806000/transparent-background-but-not-the-content-text-images-inside-it-in-css-on
 *		- http://www.css3.info/opacity_rgba_and_compromise/
 *
 *	Blurred background:
 *		- http://stackoverflow.com/questions/20039765/css-how-to-apply-a-css3-blur-filter-to-a-background-image-that-i-am-setting-wit 
 *		- http://codepen.io/aniketpant/pen/DsEve
 */

	/*@media screen and (min-device-width: 960px) and (min-device-height: 640px) { */
		body
		{
			margin: 0;
			padding: 0;
			text-align: center;
			/* disables selecting */
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none; 		
			font-family: "HelveticaNeue-Light", "Helvetica", sans-serif;	
			/* background-image: url("./images/wallpapers/nyc.jpg");*/
			background-position:50% 50%;  /* Sets reference point to scale from */
			background-size:cover; 
		}
		
		#outerWrapper
		{
			width: 960px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			padding: 0;
			box-shadow: 0px 0px 5px #555;
			height: 293px;
			border-radius: 3px;
			overflow: hidden;
		}

		.fixed 
		{
		    background-repeat: no-repeat;
		    background-attachment: fixed;
		    background-position: center 0;
		    position: relative;
		    z-index: 101
		}
		
		/* Banner */
		
		#bannerWrapper
		{
			display: block;
			height: 200px;
			margin: 0;	
			padding:0;		
			width: 960px;
			float: left;
			border-bottom: 1px solid #000;
			overflow: hidden;
		}
		
		#innerBanner
		{
			display:block;
			height:200px;
			margin: 0px;
			padding: 0;
			width:2880px;
		}
		
		.banner
		{
			display: block;		
			float: left;			
			height: 200px;
			width: 960px;
			background-color: #ddddff;
		}
		
		.banner a
		{
			display: block;
			float: left;		
			width: 960px;
			height: 200px;
			margin: 0;
			padding: 0;
			font-size: 0;
		}
		
		#bannerControls
		{
			display: none;
			float: left;
			height: 25px;
			margin-top:-25px;
			width:960px;
			text-align: center;
		}
		
		#buttonWrapper
		{
			display: block;
			width: 42px; /* 10px + 2px + 2px for each dot */
			height: 10px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;
		}
		
		.dot
		{
			display: block;
			height: 10px;
			width: 10px;
			border-radius: 13px;
			margin: 0 2px;
			float: left;
			background-color: #fff;
			box-shadow: 0 0 1px #666;
			-moz-opacity: 0.5;
			-webkit-opacity: 0.5;
			opacity: 0.5;
		}
		
		.selectedDot
		{
			-moz-opacity: 1.0;
			-webkit-opacity: 1.0;
			opacity: 1.0;					
		}
		
		/* Three columns */
		
		#columnsWrapper
		{
			display: block;
			margin: 0;	
			padding: 0;		
			width: 960px;
			float: left;			
		}
		
		.column
		{
			width: 320px;
			float: left;
			height: 0px;
			overflow: auto;
			padding: 0;
			background-color: #c4ccd5;
			background-size: 10px;		
			margin-top: -44px;
			padding-top: 44px;
			z-index: 0;		
		}
		
		/* Set up the feed column to show borders*/
		
		div#feedColumn, div.middle
		{
			width: 318px;
			border-left: 1px solid #111;
			border-right: 1px solid #111;
		}
			
		/* Height should match the dimensions of the photo */
		
		#appColumn .singleGroupCell
		{
			border-radius: 8px;
			background-color: #fff;
			border: 1px solid #000;
			margin: 10px;
			height: 72px;
			padding: 0;
			font-family: "HelveticaNeue-Light", "Helvetica", sans-serif;
			color: gray;
			font-size: 12px;
		}
		
		.singleGroupCell p
		{
			padding: 2px;
			margin: 0;
		}
				
		.singleGroupCell.icon
		{
			display: block;
			float: left;
			margin: 0;
			height: inherit;
			width: 72px;
			border-top-left-radius: inherit;
			border-bottom-left-radius: inherit;			
			padding: 0;
			padding-right: 5px;
		}

		#appColumn .icon-macos
		{
			border: none !important;
		}
	
		/**
		 *	The navbars
		 */

		.navbar
		{
			width:100%;
			height: 44px;
			width: 320px;
			float: left;
			color: #fff;
			line-height: 44px;
			border-bottom: 1px solid #222;
			background: rgba(255,255,255,0.95); /* based on http://ilee.co.uk/ios7-navigation-bar-using-css/ */
			z-index: 99;
			position: relative;
		}


		.mobile {
			display: none;
		}

		/* UIBarButton links above the columns. */

		.navbar a
		{
			text-decoration: none;
			color: #007aff;
			padding: 5px 7px;
			border-radius: 5px;			
			border: 1px solid #007aff;
			font-family: "HelveticaNeue-Light", "Helvetica", sans-serif;	
			z-index: 99;
		}

		.navbar a:hover {
			background-color: #007aff;
			color: #fff;
		}

		/* The blog and github feeds */
		
		.loading
		{
			display: none;
			line-height: 320px;
			vertical-align: middle;
			font-weight: bold;
			color: gray;	
		}
		
		.tableView
		{
			list-style-type: none;
			padding: 0;
			margin: 0;
			margin-top: -44px;
			padding-top: 44px;
			overflow: hidden;
		}
		
		.tableView .row
		{
			margin: 0;
			padding: 0;
			padding-bottom: 5px;
			display: block;
			height: 39px;
			width: 100%;
			float: left;
			font-size: 14px;
			line-height: 44px;
			overflow: hidden;
			text-align: left;
			background-color: rgba(255, 255, 255 ,1.0);
			box-shadow: inset 15px 0 #fff, inset -1px 0 #fff, inset 0 -1px 0 0 #c8c7cc; /* Fake partial borders courtesy of http://landonschropp.com/blog/partial-borders-in-css/ */
		}
		
		#columnsWrapper .column .tableView .row a
		{
			display: block;
			float: left;
			width: 100%;
			height: 43px;
			white-space: nowrap;
			overflow: hidden;		
			text-decoration: none;
			font-family: "HelveticaNeue", "Helvetica", sans-serif;	
			color: #000;
		}

		#columnsWrapper .column .tableView .row a:hover {
			background-color: #f0f0f0;	
		}

		#columnsWrapper .column .tableView .row a:active {
			background-color: #d9d9d9;
		}
		
		#columnsWrapper .column .tableView .row a .label
		{
			margin-left: 15px;
			padding-right: 5px;
			overflow: hidden;
			width: 87.5%;
			display: block;
			float: left;
			text-overflow: ellipsis;
		}		

		/** 
		 *	If the cell has an image in it, use a narrower label.
		 */

		#columnsWrapper .column .tableView .row a img + .label
		{
			width: 240px;
			margin-left: 5px;
		}
		
		#columnsWrapper .column .tableView .row a img
		{
			height: 34px;
			width: 34px;
			float: left;
			margin: 3px;
			margin-left: 15px;
			border-radius: 9px;
			border: 1px solid rgba(0,0,0,0.2);
		}
		
		/* The footer */
		
		#footer
		{
			display: block;
			height: 44px;
			line-height: 44px;
			vertical-align: middle;
			width: 960px;
			float: left;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;			
			text-align: center;
			border-top: 1px solid #000;
		}
		
		#footer #photo
		{
			display: block;
			width: 40px;
			height: 40px;
			float: left;
			margin: 2px 3px;
			overflow: hidden;
			border-radius: 3px;
		}
		
		#footer p
		{
			margin: 0;
			font-weight:100;
			font-size: 14px;
		}
		
		/* Tab Bars */

		.tabbar
		{
			height: 49px;
			color: #fff;
			font-family: Helvetica, sans;
			background: rgba(255, 255, 255, 0.8);
			color: #000;
		}

		.tabbar a
		{
				color: #007aff;
		}
	/*}*/
